<!-- Footer for FitZone -->
<footer class="footer-container">
    <div class="cultfit-moto">
        <img src="/static/image/firZoneLogo.png" width="100px">
        <p class="moto">At FitZone, we make group workouts fun, daily food healthy & tasty, mental fitness easy with
            yoga & meditation, Medical & lifestyle care hassle-free.#BeBetterEveryDay</p>
    </div>
    <div class="childcompanys-link">
        <a href="#">FitZone for business</a>
        <a href="#">FitZone franchise</a>
        <a href="#">corporate partnerships</a>
        <a href="#">cult pass network</a>
        <a href="#">t&c for business</a>
    </div>
    <div class="blogAndStuff">
        <a href="#">partner.fit</a>
        <a href="#">blogs</a>
        <a href="#">security</a>
        <a href="#">careers</a>
    </div>
    <div class="contacts">
        <a href="#">contact us</a>
        <a href="#">privacy policy</a>
        <a href="#">cult bmi calculator</a>
        <a href="#">terms & conditions</a>
    </div>
    <div class="socialHandles">
        <a href="https://www.youtube.com/channel/UCSE72IaHOL-1Tv-m3JHE4Cg"><img
                src="/static/image/youtube-icon.webp" alt="youTube-icon" width="200px"></a><br>
        <img src="/static/image/facebook-icon.png" alt="facebook-icon" width="50px">
        <img src="/static/image/instagram.png" alt="instagram" width="50px">
        <img src="/static/image/twitter.png" alt="twitter" width="50px">
        <img src="/static/image/linkedin-icon.png" alt="linkedin-icon" width="50px">
    </div>
</footer>