body{
    background-color: white;
}
*{
    margin: 0;
    padding: 0;
}

/* CSS on nav */
nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
#navbarText {
    margin-left: 110px;
    margin-right: 20px;
}
.nav-item {
    padding: 0px 30px;
    font-size: large;
    font-weight: bolder;
}
.lastpart {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 0px 30px;
}
/* location-city */
.city-header {
   display: none;
}
.avatar{
    padding: 10px;
}
.cart{
    padding: 10px;
}


.main-container {
    display: flex;
    flex-direction: row;
    margin: 120px 142.500px 12px 132.500px;
}
/* left-container */
.left-container {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    width: 50%;
    background-color: white
}
.left-container .poster-img {
    margin-left: 25px;
    margin-right: 25px;
    height: auto;
}
.left-container .character-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* right-container */
.right-container {
    right: 0;
    width: 50%;
    background-color: white;
}
.link-back a{
    font-style: normal;
    color: black;
}
h2{
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 0;
}
h6{
    margin-top: 20px;
    margin-bottom: 34px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    margin-bottom: 20px;
}
/* Card */
.card {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 120px;
    background-color: white;
    border: none;
    margin-bottom: 24px;
}
.card:hover{
    cursor: pointer;
}
.img-container {
    position: relative;
    width: 25%;
    height: 100%;
    max-width: 400px;
}
.overlay {
    position: absolute;
    bottom: 0;
    right: 5px;
    height: 50%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.152);
}
.icon {
    font-size: 30px;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.card-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.card-img:hover{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.card-content {
    width: 60%;
    height: 100%;
    padding: 15px;
    text-align: left;
}
.card-title {
    margin-top: 0;
    margin-bottom: 0px;
}
.img-container:hover .overlay {
    opacity: 1;
}

/* User login form */
/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
.loginbtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.loginbtn:hover {
    opacity: 0.8;
}
/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border-radius: 8px;
    color: white;
}
/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
.hidden-container {
    padding: 16px;
}
.container-bottom {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 0 0 8px 8px;
}
span.psw {
    padding-top: 16px;
}
/* The Modal (background) */
.modal {
    display: none;/* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4;/* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;/* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    } to {
        -webkit-transform: scale(1)
    }
}
@keyframes animatezoom {
    from {
        transform: scale(0)
    } to {
        transform: scale(1)
    }
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    } .cancelbtn {
        width: 100%;
    }
}

/* shopping-cart CSS */
/* The popup cart - hidden by default */
.cart-popup {
    display: none;
    position: fixed;
    top: 80px;
    bottom: 0;
    right: 0;
    border: 3px solid #000000;
    z-index: 9;
    height: 100%;
}
/* The Close Button (x) */
.closeCart {
    position: absolute;
    right: 25px;
    top: 0;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}
.closeCart:hover,
.closeCart:focus {
    color: red;
    cursor: pointer;
}
/* Add styles to the form container */
.innerCart-container {
    max-width: 300px;
    height: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
}
.innerCart-container img {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    min-height: 300px;
}
.innerCart-container .booktestBtn {
    font-weight: bold;
    background-color: white;
    color: red;
    padding: 16px 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 10px;
    border-radius: 10px;
}
/* Add some hover effects to buttons */
.innerCart-container .booktestBtn:hover {
    color: black;
}
.emptyCartText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emptyCartText small{
    width: 150px;
    text-align: center;
}


/* Snackbar */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
} 
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/* CSS on footer */
.footer-container{
    display: flex;
    flex-direction: row;
    background-color: #393A3B;
    color: white;
}
.footer-container, a{
    color: white;
    text-decoration: none;
}
.cultfit-moto{
    margin: 25px 90px 25px 90px;
    width: 20%;
}
.cultfit-moto .moto{
    margin-top: 25px;
    font-size: smaller;
    font-weight: bold;
}
.childcompanys-link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
}
.blogAndStuff{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
    margin-right: 60px;
}
